.category-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.category-table {
  min-width: 650px;
}

.action-cell {
  width: 120px;
} 